.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  /* display: flex; */
}
.overall-container{
height: 70vh;
background-color: aquamarine;

}
.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* home */
#home-intro{
height: fit-content;
width: fit-content;
text-align: left;
line-height: 1vh;
}
#home-intro h2{
font-size: 3em;
}
#home-intro h1{
  font-size: 6em;
  color: blueviolet;
}
.photo{
  height: 80%;
}
.photo img{
  height: 100%;
}

/* about */

#about-text{
width: 70%;
}
/* bars */
.border-bars{
width: 100vw;
height: 15vh;
background-color: blueviolet;
}
.bottom{
bottom: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
}
#bottom-text{
  width: 50vw;
}
#bottom-text h3{
  margin-top: auto;
}
.top{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}
#last-nav-padding{
margin-right: 2vw;
}
.nav-link:hover{
  background-color: aqua;
}

/* Projects */
.portfolioCard{

}
.portfolioPara{
  width: auto;
  margin: auto;
}
.portfolioCard{
  height: auto;
}
.portfolioWork{
  width: 16vw;
  height: 34vh;
  border: 1px black solid;
  padding: 1vw 1vh
}
#portfolioImage{
  width: inherit;
  object-fit: cover;
  height: 50%
}
#blog-link{
  text-decoration: none;
}
#blog-container{
  width: 16vw;
  height: 23vh;
  border: 1px black solid;
}
#blog-container p{
  margin: auto;
  height: 15vh;
}
#blog-container h3{
  margin: 3px 3px
}
#skill-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#skill-image{
  width: 15vw;
  height: 10vh;
  object-fit: contain;
}